body,p,ul,h1,h2,h3,h4,h5,h6,button{margin: 0 auto;padding: 0}
li {list-style: none;}
a{text-decoration: none;}
*,*::before,*::after{
    box-sizing: inherit;
}


.container {
    width: 1200px;
    margin: 0 auto;
}

p {
    color: #757575;
}

@font-face {
    font-family: 'Roboto-Regular';
}

@font-face {
    font-family: 'Raleway';
}

@font-face {
    font-family: 'Oleo Script';
}

header {
    height: 80px;
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #ECECEC;
}



.header_logo {
    float: left;
    margin: 24px 0 25px;
    text-decoration: none;
}

.web {
    font-size: 26px;
    font-weight: 700;
    color: #2196F3;
    letter-spacing: 0.03em;
    font-family: 'Raleway',Arial,sans-serif;
}
.studio {
    font-family: "Raleway",Arial, sans-serif;
    font-size: 26px;
    font-weight: bold;
    letter-spacing: 0.03em;
    color: #212121;
}

.header_nav {
    display: inline-block;
    overflow: hidden;
}

.header_contacts{
    display: flex;
    gap: 50px;
}

.header_contacts {
    float: right;
    margin: 33px 0 25px 93px;
}

.header_nav {
    display: flex;
    margin-right: 50px;

}


.header_contacts li a {
    padding: 20px 0 20px;
    text-decoration: none;
    font-family: 'Roboto',Arial,sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #212121;
    letter-spacing: 0.02em;
}

.header_contacts li a:hover {
    color: #2196F3;
    transition: 7ms;

}

.portfolio_link:focus{
    color: #2196F3;
    transition: 7ms;
    outline: none;
}

.tel {
    display: flex;
    gap: 50px;
    margin: 33px 0 24px 200px;
    float: right;
}

.tel a {
    text-decoration: none;
    color: #757575;
    font-size: 14px;
    font-family: 'Roboto-Regular',Arial,sans-serif;
    font-weight: 500;
}

.portfolio_link:visited{
    color: #2196F3;
}

.tel a:hover,
.tel a:focus {
    color: #2196F3;
    transition: 7ms;
}

.li_hover:hover,
.li_hover:focus,
.tel_tel:hover,
.tel_tel:focus,
.mail:hover,
.mail:focus{
    color: #2196F3;
    transition: 7ms;
    fill: #2196F3;
}
.svg_tel{
    position: relative;
    top: 1px;
}

.svg_tel,
.svg_mail {
    margin-right: 10px;
}



/*=================main==================*/

main {
    padding: 100px 0 94px;
}

.choice {
    display: flex;
    justify-content: center;
    gap: 8px;
}


.choice  button {
    border: none;
    margin-right: 8px;
    padding: 6px 22px;
    color: #212121;
    font-size: 16px;
    background: #F5F4FA;
    border-radius: 5px;
    font-family: 'Roboto-Regular',Arial,sans-serif;
    cursor: pointer;
}


.choice button:hover {
    color: white;
    background: #2196F3;
    transition: 0.2s;
    box-shadow: 0 0 4px lightgrey;
}
.choice button:focus {
    color: white;
    background: #2196F3;
    transition: 0.2s;
    outline: none;
    box-shadow: 0 0 4px lightgrey;
}


.card {
    padding: 60px 0 0 0;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    grid-gap: 30px;
}

.card li {
    border-bottom: 1px solid #EEEEEE;
}
.card_img {
    width: 100%;
}

.card li:hover,
.card li:focus{
    box-shadow: 0 0 7px lightgrey;
    transition: 0.5s;
}


h2 {
    font-family: 'Roboto-Regular',Arial,sans-serif;
    font-size: 18px;
    font-weight: 700;
    margin: 20px 0 4px 24px ;
    color: #212121;

}

.it {
    font-family: 'Roboto-Regular',Arial,sans-serif;
    margin: 4px 24px 20px;
    font-size: 16px;
    color: #757575;
    line-height: 30px;
}

/*==========footer================*/

footer {
    background: #2F303A;
    padding: 60px 0 60px;
}

.footer_studio {
    color: white;
    font-family: 'Raleway-Regular',Arial,sans-serif;
    font-size: 26px;
    font-weight: bold;
    letter-spacing: 0.03em;
}

.footer_logo {
    text-decoration: none;
}

address ul{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 9px;
}
address li {

}
address li a{
    font-family: 'Roboto',Arial,sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.town {
    font-family: 'Roboto',Arial,sans-serif;
    font-size: 14px;
    color: white;
}

.footer_tel {
    color: rgba(255, 255, 255, 0.6);
    transition: 7ms;
}

.footer_tel:hover{
    color: white;
    transition: 7ms;
    outline: none;
}
.footer_tel:focus{
    color: white;
    transition: 7ms;
    outline: none;
}

.footer_ul {
    display: flex;
}

.second_ul {
    margin-left: 70px;
}

.footer_name {
    padding-bottom: 20px;
    font-family: 'Roboto',Arial,sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #FFFFFF;
}

.footer_networks {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.footer_svg {
    fill: #FFFFFF;
}

.button_footer {
    background: rgba(255, 255, 255, 0.1);
    width: 44px;
    height: 44px;
    border-radius: 50%;
    border: none;
}

.button_footer:hover,
.button_footer:focus{
    background: #2196F3;
    transition: 0.3s;
    border: none;
}













