body,p,ul,h1,h2,h3,h4,h5,h6,button{margin: 0 auto;padding: 0}
a{text-decoration: none;}
*,*::before,*::after{box-sizing: inherit;}
img { display: block; max-width: 100%; height: auto; }
li {list-style: none;}

p {color: #757575;}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px 0;
}

.section {
    padding: 94px 0 94px;
}

@font-face {
    font-family: 'Roboto';
}

@font-face {
    font-family: 'Raleway';
}

@font-face {
    font-family: 'Oleo Script';
}

header {
    height: 80px;
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #ECECEC;
}

nav {
    display: flex;
    flex-direction: row;
}

.header_logo {
    float: left;
    margin: 24px 93px 25px 0;
    text-decoration: none;
}

.web {
    font-family: 'Raleway',Arial,sans-serif;
    font-size: 26px;
    font-weight: 700;
    color: #2196F3;
    letter-spacing: 0.03em;
}
.studio {
    font-family: 'Raleway',Arial,sans-serif;
    font-size: 26px;
    font-weight: bold;
    letter-spacing: 0.03em;
    color: #212121;
}

.header_nav {
    display: inline-block;
    overflow: hidden;
}

.header_contacts {
    margin: 33px 0 25px;
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.studio_link:visited{
    color: #2196F3;
}

.header_contacts li a {
    padding: 20px 0 20px;
    text-decoration: none;
    font-family: 'Roboto',Arial,sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #212121;
    letter-spacing: 0.02em;
}
.header_contacts li a:hover,
.header_contacts li a:focus{
    color: #2196F3;
    transition: 7ms;
}

.tel {
    margin: 33px 0 24px 200px;
    float: right;
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.tel a {
    padding: 20px 0 20px;
    text-decoration: none;
    color: #757575;
    font-size: 14px;
    font-family: 'Roboto',Arial,sans-serif;
    font-weight: 500;
}

.li_hover:hover,
.li_hover:focus,
.tel_tel:hover,
.tel_tel:focus,
.mail:hover,
.mail:focus{
    color: #2196F3;
    transition: 7ms;
    fill: #2196F3;
}
.svg_tel{
    position: relative;
    top: 1px;
}

.svg_tel,
.svg_mail {
    margin-right: 10px;
}


/*====section_header===*/


.section_header {
    padding: 200px 0 200px;
    background-image:
            linear-gradient( to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4) ),
            url("../img/Img (5).jpg");
    max-width: 100%;
    background-position: center;
    background-size: cover;
}

.header {
    display: inline-block;
    height: 100vh;
    width: 100%;
    background: #2F303A;
}

.hero {
    margin-bottom: 30px;
    text-align: center;
    color: white;
    font-family: 'Roboto', Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.main_button {
    display: flex;
    justify-content: center;
    justify-items: center;
    margin: auto;
    text-align: center;
    padding: 10px 32px;
    background: #2196F3;
    color: white;
    border-radius: 3px;
    border: none;
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    line-height: 30px;
    font-weight: 700;
    cursor: pointer;
}

.main_button:hover {
    background: #1d70af;
    transition: 0.3s;
}

.main_button:focus {
    outline: none;
    background: #1d70af;
    transition: 0.3s;
}

/*===section_icon===*/


.team {
    background: #F5F4FA;
}

.wrapper_ul {
    display: flex;
    justify-content: space-between;
    /*align-items: center;*/
}
.wrapper_ul li  {
    text-align: center;
    display: block;
    position: relative;
    margin: 0 auto;
}

.box_flex {
    display: flex;
    justify-content: center;
    padding: 25px 100px;
}

.section_icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper_ul li {
    display:block;
    width: 270px;
    height: 120px;
    background-color:#F5F4FA;
    content: "";
    margin-bottom: 30px;
    background-repeat: no-repeat;
    background-position: center;
}

h3{
    margin-top: 10px;
    margin-bottom: 10px;
    font-style: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
    font-family: Roboto, Arial, sans-serif;
    font-weight: 700;
}

.wrapper__ul__text {
    font-family: Roboto, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;
}


.flex_svg {
    display: flex;
    justify-content: center;
    padding: 25px 0 33px;
    width: 270px;
    height: 128px;
}


/*====section_do====*/

.section_do {
    padding: 94px 0 94px;
}

h2 {
    font-family: Roboto, Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 50px;
}

.do__item {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}


/*=========section_team====*/

.team {
    padding: 94px 0 94px;
    background: #F5F4FA;
}

.team__items {
    display:flex ;
    justify-content: space-between;
    gap: 30px;
}

.team__items_li {
    border: 1px solid rgba(0, 0, 0, 0.14);
    border-radius: 0 0 4px 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.14), 0 2px 1px rgba(0, 0, 0, 0.2);
    background: white;
}


h4 {
    font-family: Roboto, Arial, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-top: 30px;
}

.team__items__text {
    font-family: Roboto, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
    margin: 10px 0 30px;
}
.team_people {
    width: 100%;
}


.team_networks {
    padding: 0 32px 30px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.team_networks_button {
    background: none;
    background: #ffffff;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    border: none;
}

.team_btn_svg {
    fill: #AFB1B8;
}

.team_networks_button:hover,
.team_networks_button:focus,
.team_btn_svg:hover,
.team_btn_svg:focus{
    cursor: pointer;
    background: #2196F3;
    fill: white;
}
/*===clients===*/

.clients {
    padding: 94px 0 94px;
}

.button{
    display: flex;
    justify-content: space-between;
}

.button_clients {
    cursor: pointer;
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    box-sizing: border-box;
    border-radius: 4px;
    background: white;
}

.svg_clients {
    fill: #AFB1B8;
}

.svg_clients:hover {
    fill: #2196F3;
}

.button_clients:hover,
.button_clients:focus {
    border: 2px solid #2196F3;
    transition: 0.3s;
    cursor: pointer;
    fill: #2196F3;
}

.team_btn_svg {
    cursor: pointer;
}

/*===footer===*/


footer {
    background: #2F303A;
    padding: 60px 0 60px;
}

.footer_studio {
    color: white;
    font-family: 'Raleway-Regular',Arial,sans-serif;
    font-size: 26px;
    font-weight: bold;
    letter-spacing: 0.03em;
}

.footer_logo {
    text-decoration: none;
}

address ul{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 9px;
}
address li {

}
address li a{
    font-family: 'Roboto',Arial,sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.town {
    font-family: 'Roboto',Arial,sans-serif;
    font-size: 14px;
    color: white;
}

.footer_tel {
    color: rgba(255, 255, 255, 0.6);
    transition: 7ms;
}

.footer_tel:hover{
    color: white;
    transition: 7ms;
    outline: none;
}
.footer_tel:focus{
    color: white;
    transition: 7ms;
    outline: none;
}

.footer_ul {
    display: flex;
}

.second_ul {
    margin-left: 70px;
}

.footer_name {
    padding-bottom: 20px;
    font-family: 'Roboto',Arial,sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #FFFFFF;
}

.footer_networks {
    display: flex;
    justify-content: space-between;
    gap: 10px;
 }

.footer_svg {
    fill: #FFFFFF;
}

.button_footer {
    cursor: pointer;
    background: rgba(255, 255, 255, 0.1);
    width: 44px;
    height: 44px;
    border-radius: 50%;
    border: none;
}

.button_footer:hover,
.button_footer:focus{
    background: #2196F3;
    transition: 0.3s;
}


























